composicion/src/main/java/uy/mgcoders/wsclient/pagosya/pagosya.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.mgcoders.uy/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ServicioRecepcionPagosService" targetNamespace="http://services.mgcoders.uy/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.mgcoders.uy/" elementFormDefault="unqualified" targetNamespace="http://services.mgcoders.uy/" version="1.0">

  
  <xs:element name="recepcionPago" type="tns:recepcionPago"/>

  
  <xs:element name="recepcionPagoResponse" type="tns:recepcionPagoResponse"/>

  
  <xs:complexType name="recepcionPago">
    
    <xs:sequence>
      
      <xs:element minOccurs="0" name="idCompra" type="xs:string"/>
      
      <xs:element minOccurs="0" name="numeroTarjeta" type="xs:string"/>
      
      <xs:element minOccurs="0" name="monto" type="xs:string"/>
      
      <xs:element minOccurs="0" name="fecha" type="xs:string"/>
    
    </xs:sequence>
  
  </xs:complexType>

  
  <xs:complexType name="recepcionPagoResponse">
    
    <xs:sequence>
      
      <xs:element minOccurs="0" name="return" type="tns:confirmacionPago"/>
    
    </xs:sequence>
  
  </xs:complexType>

  
  <xs:complexType name="confirmacionPago">
    
    <xs:sequence>
      
      <xs:element minOccurs="0" name="idConfirmacionPago" type="xs:string"/>
      
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    
    </xs:sequence>
  
  </xs:complexType>


</xs:schema>
  </wsdl:types>
  <wsdl:message name="recepcionPagoResponse">
    <wsdl:part element="tns:recepcionPagoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recepcionPago">
    <wsdl:part element="tns:recepcionPago" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioRecepcionPagos">
    <wsdl:operation name="recepcionPago">
      <wsdl:input message="tns:recepcionPago" name="recepcionPago">
    </wsdl:input>
      <wsdl:output message="tns:recepcionPagoResponse" name="recepcionPagoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioRecepcionPagosServiceSoapBinding" type="tns:ServicioRecepcionPagos">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="recepcionPago">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="recepcionPago">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="recepcionPagoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioRecepcionPagosService">
    <wsdl:port binding="tns:ServicioRecepcionPagosServiceSoapBinding" name="ServicioRecepcionPagosPort">
      <soap:address location="http://localhost:8181/esb/pagosya"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>