composicion/src/main/java/uy/mgcoders/wsclient/callback/ServicioCallback.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.mgcoders.uy/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ServicioCallbackService" targetNamespace="http://services.mgcoders.uy/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.mgcoders.uy/" targetNamespace="http://services.mgcoders.uy/" version="1.0">

  <xs:element name="Resultado" type="tns:resultado"/>

  <xs:complexType name="resultado">
    <xs:sequence>
      <xs:element name="idCompra" type="xs:string"/>
      <xs:element name="codigo" type="xs:string"/>
      <xs:element minOccurs="0" name="descripcion" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="confirmarOrden">
    <wsdl:part name="resultado" type="tns:resultado">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="confirmarOrdenResponse">
  </wsdl:message>
  <wsdl:portType name="ServicioCallback">
    <wsdl:operation name="confirmarOrden">
      <wsdl:input message="tns:confirmarOrden" name="confirmarOrden">
    </wsdl:input>
      <wsdl:output message="tns:confirmarOrdenResponse" name="confirmarOrdenResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioCallbackServiceSoapBinding" type="tns:ServicioCallback">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="confirmarOrden">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="confirmarOrden">
        <soap:body namespace="http://services.mgcoders.uy/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="confirmarOrdenResponse">
        <soap:body namespace="http://services.mgcoders.uy/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCallbackService">
    <wsdl:port binding="tns:ServicioCallbackServiceSoapBinding" name="ServicioCallbackPort">
      <soap:address location="http://localhost:8080/callback/ServicioCallback"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>