composicion/src/main/resources/ServicioRecepcionOrdenCompra.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.mgcoders.uy/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ServicioRecepcionOrdenCompraService" targetNamespace="http://services.mgcoders.uy/"
xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.mgcoders.uy/" elementFormDefault="unqualified" targetNamespace="http://services.mgcoders.uy/" version="1.0">

  <xs:element name="ingresarOrden" type="tns:ingresarOrden"/>

  <xs:element name="ingresarOrdenResponse" type="tns:ingresarOrdenResponse"/>

  <xs:complexType name="ingresarOrden">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordencompra" type="tns:ordenCompra"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ordenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="idOrden" type="xs:string"/>
      <xs:element name="numeroTarjeta" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="productos" nillable="true" type="tns:producto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int"/>
      <xs:element name="idProducto" type="xs:long"/>
      <xs:element name="precioUnitario" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ingresarOrdenResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="ingresarOrden">
    <wsdl:part element="tns:ingresarOrden" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ingresarOrdenResponse">
    <wsdl:part element="tns:ingresarOrdenResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioRecepcionOrdenCompra">
    <wsdl:operation name="ingresarOrden">
      <wsdl:input message="tns:ingresarOrden" name="ingresarOrden" wsam:Action="http://services.mgcoders.uy/ServicioRecepcionOrdenCompra/ingresarOrdenRequest" wsaw:Action="http://services.mgcoders.uy/ServicioRecepcionOrdenCompra/ingresarOrdenRequest">
    </wsdl:input>
      <wsdl:output message="tns:ingresarOrdenResponse" name="ingresarOrdenResponse" wsam:Action="http://services.mgcoders.uy/ServicioRecepcionOrdenCompra/ingresarOrdenResponse" wsaw:Action="http://services.mgcoders.uy/ServicioRecepcionOrdenCompra/ingresarOrdenResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioRecepcionOrdenCompraServiceSoapBinding" type="tns:ServicioRecepcionOrdenCompra">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>    
    <wsp:PolicyReference URI="#ServicioRecepcionOrdenCompraServiceSoapBinding_WSAM_Addressing_Policy"/>
    <wsdl:operation name="ingresarOrden">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ingresarOrden">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ingresarOrdenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioRecepcionOrdenCompraService">
    <wsdl:port binding="tns:ServicioRecepcionOrdenCompraServiceSoapBinding" name="ServicioRecepcionOrdenCompraPort">
      <soap:address location="http://localhost:8080/composicion/ServicioRecepcionOrdenCompra"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="ServicioRecepcionOrdenCompraServiceSoapBinding_WSAM_Addressing_Policy">
	<wsp:ExactlyOne>
         <wsp:All>
            <wsam:Addressing>
				<wsp:Policy/>
			</wsam:Addressing>
            <sp:AsymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:InitiatorToken>
              <wsp:Policy>
                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                  <wsp:Policy>
                    <sp:WssX509V1Token11/>
                  </wsp:Policy>
                  </sp:X509Token>
              </wsp:Policy>
            </sp:InitiatorToken>
            <sp:RecipientToken>
              <wsp:Policy>
                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                  <wsp:Policy>
                    <sp:WssX509V1Token11/>
                  </wsp:Policy>
                </sp:X509Token>
              </wsp:Policy>
            </sp:RecipientToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDesRsa15/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
            <sp:EncryptSignature/>
            <sp:OnlySignEntireHeadersAndBody/>
            <sp:SignBeforeEncrypting/>
          </wsp:Policy>
        </sp:AsymmetricBinding>
        <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body/>
        </sp:SignedParts>
        <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body/>
        </sp:EncryptedParts>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportRefIssuerSerial/>
          </wsp:Policy>
        </sp:Wss10>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
</wsdl:definitions>
